<% const startDate = DateTime.fromJSDate(goal.startDate, {zone: user.timezone}); %>
<% const endDate = DateTime.fromJSDate(goal.endDate, {zone: user.timezone}); %>

<section class="card">
    <section class="card-info">
        <h5><%=goal.name%></h5>
        <p><%=goal.description%></p>
        <section>
            <span><%=startDate.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY)%></span>
            <span>&ndash;</span>
            <span><%=endDate.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY)%></span>
        </section>

        <% if(goal.tasks.length) { %>
            <section class="display">
                <% for(let i = 0; i < goal.tasks.length; ++i) { %>
                    <%-include("task-card.ejs", {task:goal.tasks[i]})%>
                <% } %>
            </section>
        <% } %>
        <% if(goal.habits.length) { %>
        <section class="display">
            <% for(let i = 0; i < goal.habits.length; ++i) { %>
                <%-include("habit-card.ejs", {habit:goal.habits[i]})%>
            <% } %>
        </section>
        <% } %>
        <% if(goal.routines.length) { %>
        <section class="display">
            <% for(let i = 0; i < goal.routines.length; ++i) { %>
                <%-include("routine-card.ejs", {routine:goal.routines[i]})%>
            <% } %>
        </section>
        <% } %>
        <% if(goal.goals.length) { %>
        <section class="display">
            <% for(let i = 0; i < goal.goals.length; ++i) { %>
                <%-include("goal-card.ejs", {goal:goal.goals[i]})%>
            <% } %>
        </section>
        <% } %>
    </section>


    <ul class="card-options">
        <li>
            <button class="open-button" type="button">Add New Item</button>
            <section class="overlay hidden">
                <section class="overlay-child">
                    <select id="goal-form-selector">
                        <option selected="selected" value="task">Task</option>
                        <option value="habit">Habit</option>
                        <option value="routine">Routine</option>
                    </select>

                    <%-include("create-task-form.ejs", {id:"task-form", className:"", action:`/api/goal/addTask/${goal._id}?_method=PUT`})%>

                    <%-include("create-habit-form.ejs", {id: "habit-form", className:"hidden", action:`/api/goal/addHabit/${goal._id}?_method=PUT`}) %>

                    <%-include("create-routine-form.ejs", {id: "routine-form", className:"hidden", action:`/api/goal/addRoutine/${goal._id}?_method=PUT`}) %>

                </section>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Update This Goal</button>
            <section class="overlay hidden">
                <form action="/api/goal/update/<%=goal._id%>?_method=PUT" method="POST">
                    <!--Goal Name-->
                    <section>
                        <label for="name">Enter your goal:</label>
                        <input
                        id="name"
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter your goal here"
                        value="<%=goal.name%>"
                        required>
                    </section>

                    <!--Goal Description-->
                    <section>
                        <label for="description">Enter description:</label>
                        <textarea
                        id="description"
                        name="description"
                        maxlength="250"
                        placeholder="Enter description here"><%if(goal.description){%><%=goal.description%><%}%></textarea>
                    </section>

                    <!--Starting Date-->
                    <section>
                        <label for="startDate">Enter start date:</label>
                        <input
                        id="startDate"
                        name="startDate"
                        type="date"
                        placeholder="Enter starting date here"
                        value="<%=startDate.toFormat("yyyy-MM-dd")%>"
                        required>
                    </section>

                    <!--Estimated End Date-->
                    <section>
                        <label for="endDate">Enter estimated end date:</label>
                        <input
                        id="endDate"
                        name="endDate"
                        type="date"
                        placeholder="Enter ending date here"
                        value="<%=endDate.toFormat("yyyy-MM-dd")%>"
                        required>
                    </section>

                    <!--Other Goal Participants-->
                    <section>
                        <label for="participant">Enter participant:</label>
                        <input
                        id="participant"
                        name="participants"
                        type="text"
                        placeholder="Enter participant name here">
                    </section>

                    <!--Goal Location-->
                    <section>
                        <label for="location">Enter goal location:</label>
                        <input
                        id="location"
                        name="location"
                        type="text"
                        placeholder="Enter goal location here">
                    </section>

                    <section class="hidden">
                        <input type="text" name="userDate" value="<%=(new Date()).toISOString()%>">
                    </section>

                    <section>
                        <button type="submit">Update Goal</button>
                    </section>
                </form>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Delete This Goal</button>
            <section class="overlay hidden">
                <form action="/api/goal/delete/<%=goal._id%>?_method=DELETE" method="POST">
                    <h5>Are you sure you want to delete this goal and all tasks, habits, and routines associated with it? (WARNING: This cannot be undone!)</h5>
                    <button type="submit">Delete Goal</button>
                </form>
            </section>
        </li>
    </ul>

</section>