<section class="card">

    <section class="card-info">
        <h5><%=goal.name%></h5>
        <p><%=goal.description%></p>
        <section>
            <span><%=goal.startDate.toLocaleDateString()%></span>
            <span>&ndash;</span>
            <span><%=goal.endDate.toLocaleDateString()%></span>
        </section>
    </section>


    <ul class="card-options">
        <li>
            <button class="open-button" type="button">Add New Item</button>
            <section class="overlay hidden">
                <section class="overlay-child">
                    <select id="goal-form-selector">
                        <option selected="selected" value="task">Task</option>
                        <option value="habit">Habit</option>
                        <option value="routine">Routine</option>
                    </select>

                    <form id="task-form" action="/api/goal/addTask/<%=goal._id%>?_method=PUT" method="POST">
                        <h5>Add new task</h5>
                        <section>
                            <label for="name">Name</label>
                            <input id=""
                            name="name"
                            type="text"
                            maxlength="50"
                            placeholder="Enter name here"
                            required>
                        </section>
                        <section>
                            <label for="description">Description</label>
                            <textarea id="description"
                            name="description"
                            maxlength = "250"
                            placeholder = "Enter description here"
                            spellcheck = "true"></textarea>
                        </section>
                        <section>
                            <label for="date">Date</label>
                            <input id="date"
                            name="date"
                            type="date"
                            required>
                        </section>
                        <section>
                            <label for="startTime">Start Time</label>
                            <input id="startTime"
                            name="startTime"
                            type="time">
                        </section>
                        <section>
                            <label for="endTime">End Time</label>
                            <input id="endTime"
                            name="endTime"
                            type="time">
                        </section>
                        <section>
                            <button type="submit">Add Task</button>
                        </section>
                    </form>

                    <form class="hidden" id="habit-form" action="/api/goal/addHabit/<%=goal._id%>?_method=PUT" method="POST">
                        <h5>Add new habit</h5>
                        <section>
                            <label for="name">Name</label>
                            <input id="name"
                            name="name"
                            type="text"
                            maxlength="50"
                            placeholder="Enter name here"
                            required>
                        </section>
                        <section>
                            <label for="description">Description</label>
                            <textarea id="description"
                            name="description"
                            maxlength = "250"
                            placeholder = "Enter description here"
                            spellcheck = "true"
                            ></textarea>
                        </section>
                        <section>
                            <label for="startDate">Starting Date</label>
                            <input id="startDate"
                            name="startDate"
                            type="date"
                            required>
                        </section>
                        <section>
                            <label for="endDate">Ending Date</label>
                            <input id="endDate"
                            name="endDate"
                            type="date"
                            required>
                        </section>
                        <section>
                            <label for="step">Every:</label>
                            <input id="step"
                            name="step"
                            type="number"
                            min="1"
                            max="100"
                            required>
                            <select name="timeUnit" required>
                                <option value="">Choose time unit</option>
                                <option value="day">Day</option>
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                        </section>
                        <section>
                            <label for="startTime">Start Time</label>
                            <input id="startTime"
                            name="startTime"
                            type="time">
                        </section>
                        <section>
                            <label for="endTime">End Time</label>
                            <input id="endTime"
                            name="endTime"
                            type="time">
                        </section>
                        <section>
                            <button type="submit">Add Habit</button>
                        </section>
                    </form>

                    <form class="hidden" id="routine-form" action="/api/goal/addRoutine/<%=goal._id%>?_method=PUT" method="POST">
                        <h5>Add new routine</h5>
                        <section class="input-section">
                            <label for="routineName">Routine Name</label>
                            <input id="routineName"
                            name="routineName"
                            type="text"
                            maxlength="50"
                            placeholder="Enter routine name here"
                            required>
                        </section>
                        <section class="input-section">
                            <label for="routineDescription">Routine Description</label>
                            <textarea id="routineDescription"
                            name="routineDescription"
                            maxlength = "250"
                            placeholder = "Enter routine description here"
                            spellcheck = "true"
                            ></textarea>
                        </section>
                        <section class="input-section">
                            <label for="startDate">Starting Date</label>
                            <input id="startDate"
                            name="startDate"
                            type="date"
                            required>
                        </section>
                        <section id="new-task-form-container">
                            <section class="task-form">
                                <h5>Add new task</h5>
                                <section class="input-section">
                                    <label for="name">Name</label>
                                    <input id=""
                                    name="name"
                                    type="text"
                                    maxlength="50"
                                    placeholder="Enter name here"
                                    required>
                                </section>
                                <section class="input-section">
                                    <label for="description">Description</label>
                                    <textarea id="description"
                                    name="description"
                                    maxlength = "250"
                                    placeholder = "Enter description here"
                                    spellcheck = "true"></textarea>
                                </section>
                                <section class="input-section">
                                    <label for="startTime">Start Time</label>
                                    <input id="startTime"
                                    name="startTime"
                                    type="time"
                                    required>
                                </section>
                                <section class="input-section">
                                    <label for="endTime">End Time</label>
                                    <input id="endTime"
                                    name="endTime"
                                    type="time"
                                    required>
                                </section>
                            </section>
                        </section>
                        <button id="add-new-task-button" type="button">Add A Task</button>
                        <section>
                            <button type="submit">Add Routine</button>
                        </section>
                    </form>

                </section>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Update This Goal</button>
            <section class="overlay hidden">
                <form action="/api/goal/update/<%=goal._id%>?_method=PUT" method="POST">
                    <!--Goal Name-->
                    <section>
                        <label for="name">Enter your goal:</label>
                        <input
                        id="name"
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter your goal here"
                        value="<%=goal.name%>"
                        required>
                    </section>

                    <!--Goal Description-->
                    <section>
                        <label for="description">Enter description:</label>
                        <textarea
                        id="description"
                        name="description"
                        maxlength="250"
                        placeholder="Enter description here"><%if(goal.description){%><%=goal.description%><%}%></textarea>
                    </section>

                    <!--Starting Date-->
                    <section>
                        <label for="startDate">Enter start date:</label>
                        <input
                        id="startDate"
                        name="startDate"
                        type="date"
                        placeholder="Enter starting date here"
                        value="<%=`${goal.startDate.getFullYear()}-${goal.startDate.getMonth()}-${goal.startDate.getDate()}`%>"
                        required>
                    </section>

                    <%console.log(`${goal.startDate.getFullYear()}-${(String(goal.startDate.getMonth()).length < 2) ? "0" + goal.startDate.getMonth() : goal.startDate.getMonth()}-${goal.startDate.getDate()}`)%>

                    <!--Estimated End Date-->
                    <section>
                        <label for="endDate">Enter estimated end date:</label>
                        <input
                        id="endDate"
                        name="endDate"
                        type="date"
                        placeholder="Enter ending date here"
                        value="<%=goal.endDate%>"
                        required>
                    </section>

                    <!--Other Goal Participants-->
                    <section>
                        <label for="participant">Enter participant:</label>
                        <input
                        id="participant"
                        name="participants"
                        type="text"
                        placeholder="Enter participant name here">
                    </section>

                    <!--Goal Location-->
                    <section>
                        <label for="location">Enter goal location:</label>
                        <input
                        id="location"
                        name="location"
                        type="text"
                        placeholder="Enter goal location here">
                    </section>

                    <section class="hidden">
                        <input type="text" name="userDate" value="<%=(new Date()).toISOString()%>">
                    </section>

                    <section>
                        <button type="submit">Create Goal</button>
                    </section>
                </form>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Delete This Goal</button>
            <section class="overlay hidden">
                <form action="/api/goal/delete/<%=goal._id%>?_method=DELETE" method="POST">
                    <h5>Are you sure you want to delete this goal and all tasks, habits, and routines associated with it? (WARNING: This cannot be undone!)</h5>
                    <button type="submit">Delete Goal</button>
                </form>
            </section>
        </li>
    </ul>

</section>