<!-- Habit card partial as displayed on habit page -->
<section class="card" data-id="<%=habit._id%>">

    <% console.log("Ejs")%>
    <% console.log(habit) %>
    <section class="card-info">
        <h5><%=habit.name%></h5>
        <%if(habit.description != undefined){%><p><%=habit.description%></p><%}%>
        <section>
            <span><%= habit.startDate.toDateString() %></span>
            <span>&ndash;</span>
            <span><%= habit.endDate.toDateString() %></span>
        </section>
        <section>
            <% if(habit.startTime){%><span><%=habit.startTime.toLocaleTimeString()%></span><span> &ndash; </span><%}%><% if(habit.endTime) {%><span><%=habit.endTime.toLocaleTimeString()%></span><%}%>
        </section>
    </section>
    
    <ul class="card-options">
        <li>
            <button class="open-button" type="button">Update Habit</button>
            <section class="overlay hidden">
                <form 
                action="/api/habit/update/<%=habit._id%>?_method=PUT" 
                method="POST">  
                    <button type="button" class="close-form-button">x</button>
                    <h5>Update this habit</h5>
                    <section>
                        <label for="name">Name</label>
                        <input id="name"
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter name here"
                        value="<%=habit.name%>"
                        required>
                    </section>
                    <section>
                        <label for="description">Description</label>
                        <textarea id="description"
                        name="description"
                        maxlength = "250"
                        placeholder = "Enter description here"
                        spellcheck = "true"
                        ><%=habit.description%></textarea>
                    </section>
                    <section>
                        <label for="startDate">Starting Date</label>
                        <input id="startDate"
                        name="startDate"
                        type="date">
                    </section>
                    <section>
                        <label for="endDate">Ending Date</label>
                        <input id="endDate"
                        name="endDate"
                        type="date">
                    </section>
                    <section>
                        <label for="step">Every:</label>
                        <input id="step"
                        name="step"
                        type="number"
                        min="1"
                        required>
                        <select name="timeUnit" required>
                            <option value="">Choose time unit</option>
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                            <option value="year">Year</option>
                        </select>
                    </section>
                    <section>
                        <label for="startTime">Start Time</label>
                        <input id="startTime"
                        name="startTime"
                        type="time"
                        <%if(habit.startTime){%>value="<%=habit.startTime.toISOString().slice(11,16)%>"<%}%>>
                    </section>
                    <section>
                        <label for="endTime">End Time</label>
                        <input id="endTime"
                        name="endTime"
                        type="time"
                        <%if(habit.endTime){%>value="<%=habit.endTime.toISOString().slice(11,16)%>"<%}%>>
                    </section>
                    <section class="hidden">
                        <input type="text" name="userDate" value="<%=(new Date()).toISOString()%>">
                    </section>
                    <section>
                        <button type="submit">Update Habit</button>
                    </section>     
                </form>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Delete Habit</button>
            <section class="overlay hidden">
                <form class="button-form" 
                action="/api/habit/delete/<%=habit._id%>?_method=DELETE" 
                method="POST">
                    <button type="button" class="close-form-button">x</button>
                    <h5>Are you sure you want to delete this habit?</h5>
                    <button type="submit">Delete Habit</button>
                </form>
            </section>
        </li>
    </ul>

</section>