<!-- Habit card partial as displayed on habit page -->

<!-- Luxon dates from server js dates -->
<% const startDate = DateTime.fromJSDate(habit.startDate, {zone: user.timezone}); %>
<% const endDate = DateTime.fromJSDate(habit.endDate, {zone: user.timezone}); %>
<% const startTime = (habit.startTime != undefined) ? DateTime.fromJSDate(habit.startTime, {zone: user.timezone}) : undefined; %>
<% const endTime = (habit.endTime != undefined) ? DateTime.fromJSDate(habit.endTime, {zone: user.timezone}) : undefined; %>

<section class="card" data-id="<%=habit._id%>">

    <section class="card-info">
        <h5><%=habit.name%></h5>
        <%if(habit.description != undefined){%><p><%=habit.description%></p><%}%>
        <section>
            <span><%= startDate.toLocaleString(DateTime.DATE_MED); %></span>
            <span>&ndash;</span>
            <span><%= endDate.toLocaleString(DateTime.DATE_MED); %></span>
        </section>
        <section>
            <% if(startTime){%><span><%=startTime.toLocaleString(DateTime.TIME_SIMPLE)%></span><span> &ndash; </span><%}%><% if(endTime) {%><span><%=endTime.toLocaleString(DateTime.TIME_SIMPLE)%></span><%}%>
        </section>
    </section>
    
    <ul class="card-options">
        <li>
            <button class="open-button" type="button">Update Habit</button>
            <section class="overlay hidden">
                <form 
                action="/api/habit/update/<%=habit._id%>?_method=PUT" 
                method="POST">  
                    <button type="button" class="close-form-button">x</button>
                    <h5>Update this habit</h5>
                    <section>
                        <label for="name">Name</label>
                        <input id="name"
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter name here"
                        value="<%=habit.name%>"
                        required>
                    </section>
                    <section>
                        <label for="description">Description</label>
                        <textarea id="description"
                        name="description"
                        maxlength = "250"
                        placeholder = "Enter description here"
                        spellcheck = "true"
                        ><%=habit.description%></textarea>
                    </section>
                    <section>
                        <label for="startDate">Starting Date</label>
                        <input id="startDate"
                        name="startDate"
                        type="date"
                        value="<%=startDate.toFormat("yyyy-MM-dd")%>"
                        >
                    </section>
                    <section>
                        <label for="endDate">Ending Date</label>
                        <input id="endDate"
                        name="endDate"
                        type="date"
                        value="<%=endDate.toFormat("yyyy-MM-dd")%>"
                        >
                    </section>
                    <section>
                        <label for="step">Every:</label>
                        <input id="step"
                        name="step"
                        type="number"
                        min="1"
                        value="<%=habit.howOften.step%>"
                        required>
                        <select name="timeUnit" required>
                            <option value="">Choose time unit</option>
                            <option <% if (habit.howOften.timeUnit == "day") { %> selected <% } %> value="day">Day</option>
                            <option <% if (habit.howOften.timeUnit == "week") { %> selected <% } %> value="week">Week</option>
                            <option <% if (habit.howOften.timeUnit == "month") { %> selected <% } %> value="month">Month</option>
                            <option <% if (habit.howOften.timeUnit == "year") { %> selected <% } %> value="year">Year</option>
                        </select>
                    </section>
                    <section>
                        <label for="startTime">Start Time</label>
                        <input id="startTime"
                        name="startTime"
                        type="time"
                        <%if(startTime){%>value="<%=startTime.toFormat("HH:mm")%>"<%}%>>
                    </section>
                    <section>
                        <label for="endTime">End Time</label>
                        <input id="endTime"
                        name="endTime"
                        type="time"
                        <%if(endTime){%>value="<%=endTime.toFormat("HH:mm")%>"<%}%>>
                    </section>
                    <section>
                        <button type="submit">Update Habit</button>
                    </section>     
                </form>
            </section>
        </li>
        <li>
            <button class="open-button" type="button">Delete Habit</button>
            <section class="overlay hidden">
                <form class="button-form" 
                action="/api/habit/delete/<%=habit._id%>?_method=DELETE" 
                method="POST">
                    <button type="button" class="close-form-button">x</button>
                    <h5>Are you sure you want to delete this habit?</h5>
                    <button type="submit">Delete Habit</button>
                </form>
            </section>
        </li>
    </ul>

</section>