<% const startDate = DateTime.fromJSDate(routine.startDate, {zone: user.timezone}); %>

<section class="card">
    <section class="card-info">
        <h5><%=routine.name%></h5>
        <% if(routine.description) { %> <p><%=routine.description%> <% } %>

        <% if(routine.habits.length) { %>
        <ul>
            <% routine.habits.forEach(x => { %>
            <% const hStartTime = (x.startTime != undefined) ? DateTime.fromJSDate(x.startTime, {zone: user.timezone}) : undefined; %>
            <% const hEndTime = (x.endTime != undefined) ? DateTime.fromJSDate(x.endTime, {zone: user.timezone}) : undefined; %>
            <li>
                <h5><%=x.name%></h5>
                <% if(x.description) { %> <p><%=x.description%></p> <% } %>
                <p><span><%=hStartTime.toLocaleString(DateTime.TIME_SIMPLE)%></span> <span>&ndash;</span> <span><%=hEndTime.toLocaleString(DateTime.TIME_SIMPLE)%></span></p>
                <ul>
                    <li>
                        <button class="open-button" type="button">Update Task</button>
                        <section class="overlay hidden">
                            <form action="/api/routine/updateTask/<%=routine._id%>/<%=x._id%>?_method=PUT" method="POST">
                                <h5>Update Task</h5>
                                <section class="input-section">
                                    <label for="name">Name</label>
                                    <input id=""
                                    name="name"
                                    type="text"
                                    maxlength="50"
                                    placeholder="Enter name here"
                                    value="<%=x.name%>">
                                </section>
                                <section class="input-section">
                                    <label for="description">Description</label>
                                    <textarea id="description"
                                    name="description"
                                    maxlength = "250"
                                    placeholder = "Enter description here"
                                    spellcheck = "true"><%=x.description%></textarea>
                                </section>
                                <section class="input-section">
                                    <label for="startTime">Start Time</label>
                                    <input id="startTime"
                                    name="startTime"
                                    type="time"
                                    value="<%=hStartTime.toFormat("HH:mm")%>">
                                </section>
                                <section class="input-section">
                                    <label for="endTime">End Time</label>
                                    <input id="endTime"
                                    name="endTime"
                                    type="time"
                                    value="<%=hEndTime.toFormat("HH:mm")%>">
                                </section>
                                <section>
                                    <button type="submit">Update Task</button>
                                </section>
                            </form>
                        </section>
                    </li>
                    <li>
                        <button class="open-button" type="button">Delete Task</button>
                        <section class="overlay hidden">
                            <form action="/api/routine/deleteTask/<%=routine._id%>/<%=x._id%>?_method=PUT" method="POST">
                                <h5>Are you sure you want to delete this task from your routine? (WARNING: This cannot be undone!)</h5>
                                <button type="submit">Delete Task</button>
                            </form>
                        </section>
                    </li>
                </ul>
            </li>
            <% }) %>
        </ul>
        <% }else{ %>
        <p>No tasks to display</p>
        <% } %>
    </section>
    <ul class="card-options">
        <li>
            <button type="button" class="open-button">Add New Task</button>
            <section class="overlay hidden">
                <form action="/api/routine/addTask/<%=routine._id%>?_method=PUT" method="POST">
                    <h5>Add new task</h5>
                    <section class="input-section">
                        <label for="name">Name</label>
                        <input id=""
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter name here"
                        required>
                    </section>
                    <section class="input-section">
                        <label for="description">Description</label>
                        <textarea id="description"
                        name="description"
                        maxlength = "250"
                        placeholder = "Enter description here"
                        spellcheck = "true"></textarea>
                    </section>
                    <section class="input-section">
                        <label for="startTime">Start Time</label>
                        <input id="startTime"
                        name="startTime"
                        type="time"
                        required>
                    </section>
                    <section class="input-section">
                        <label for="endTime">End Time</label>
                        <input id="endTime"
                        name="endTime"
                        type="time"
                        required>
                    </section>
                    <section class="meta-info hidden">
                        <input type="text" name="startDate" value="">
                        <input type="text" name="endDate" value="">
                        <input type="text" name="timeUnit" value="<%=routine.howOften.timeUnit%>">
                        <input type="text" name="step" value="<%=routine.howOften.step%>">
                        <input name="userDate" type="text" value="<%=(new Date()).toISOString()%>">
                    </section>
                    <section>
                        <button type="submit">Add new task</button>
                    </section>
                </form>
            </section>
        </li>
        <li>
            <button type="button" class="open-button">Update Routine</button>
            <section class="overlay hidden">
                <form action="/api/routine/update/<%=routine._id%>?_method=PUT" method="POST">
                    <section class="input-section">
                        <label for="routineName">Routine Name</label>
                        <input id="routineName"
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter routine name here"
                        value="<%=routine.name%>">
                    </section>
                    <section class="input-section">
                        <label for="routineDescription">Routine Description</label>
                        <textarea id="routineDescription"
                        name="description"
                        maxlength = "250"
                        placeholder = "Enter routine description here"
                        spellcheck = "true"
                        ><%=routine.description%></textarea>
                    </section>
                    <section class="input-section">
                        <label for="startDate">Starting Date</label>
                        <input id="startDate"
                        name="startDate"
                        type="date"
                        value="<%=startDate.toFormat("yyyy-MM-dd")%>"
                        required>
                    </section>
                    <section>
                        <label for="step">Every:</label>
                        <input id="step"
                        name="step"
                        type="number"
                        min="1"
                        value="<%=routine.howOften.step%>"
                        required>
                        <select name="timeUnit" required>
                            <option <%=(routine.howOften.timeUnit == undefined) ? "selected" : undefined ;%> value="">Choose time unit</option>
                            <option <%=(routine.howOften.timeUnit == "day") ? "selected" : undefined ;%> value="day">Day</option>
                            <option <%=(routine.howOften.timeUnit == "week") ? "selected" : undefined ;%> value="week">Week</option>
                            <option <%=(routine.howOften.timeUnit == "month") ? "selected" : undefined ;%> value="month">Month</option>
                            <option <%=(routine.howOften.timeUnit == "year") ? "selected" : undefined ;%> value="year">Year</option>
                        </select>
                    </section>
                    <section>
                        <button type="submit">Update Routine</button>
                    </section>
                </form>
            </section>
        </li>
        <li>
            <button type="button" class="open-button">Delete Routine</button>
            <section class="overlay hidden">
                <form action="/api/routine/delete/<%=routine._id%>?_method=DELETE" method="POST">
                    <h5>Are you sure you want to delete this routine and all of its associated tasks? (WARNING: This cannot be undone!)</h5>
                    <button type="submit">Delete Routine</button>
                </form>
            </section>
        </li>
    </ul>
</section>