<!-- Partial for rendering a full, detailed task card as seen on the tasks page -->
<!-- Will be passed a single task object named task -->
<% const date = DateTime.fromJSDate(task.date, {zone: user.timezone}) %>
<% const startTime = (task.startTime != undefined) ? DateTime.fromJSDate(task.startTime, {zone: user.timezone}) : undefined %>
<% const endTime = (task.endTime != undefined) ? DateTime.fromJSDate(task.endTime, {zone: user.timezone}) : undefined %>

<section class="card">

    <!-- Section for all relevent task details from database -->
    <section class="card-info">
        <h5><%= task.name %></h5>
        <% if(task.description) { %> 
        <p><%=task.description%></p>
        <% } %>
        <section>
            <span><%= date.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY) %></span>
            <p>
                <% if(task.startTime){%>
                    <span><%=startTime.toLocaleString(DateTime.TIME_SIMPLE)%>
                    </span><span> &ndash; </span>
                <%}%>
                <% if(task.endTime) {%>
                    <span><%=endTime.toLocaleString(DateTime.TIME_SIMPLE)%>%></span>
                <%}%>
            </p>
        </section>
    </section>

    <!-- List of all task database operations (update, mark complete/incomplete, delete)-->
    <ul class="card-options">  
        <!-- Mark complete/incomplete -->
        <li>
            <% if(task.complete) { %>
            <form action="/api/task/markIncomplete/<%=complete[i]._id%>?_method=PUT" method="POST">
                <button type="submit">Mark Incomplete</button>
            </form>
            <% }else{ %>
            <form action="/api/task/markComplete/<%=task._id%>?_method=PUT" method="POST">
                <button type="submit">Mark Complete</button>
            </form>
            <% } %>
        </li>

        <!-- Edit -->
        <li>
            <button type="button" class="open-button">Edit Task</button>
            <section class="overlay hidden">
                <form action="/api/task/update/<%=task._id%>?_method=PUT" method="POST" id="edit-task-form">
                    <section>
                        <label for="name">Name</label>
                        <input id=""
                        name="name"
                        type="text"
                        maxlength="50"
                        placeholder="Enter name here"
                        value="<%=task.name%>"
                        required>
                    </section>
                    <section>
                        <label for="description">Description</label>
                        <textarea id="description"
                        name="description"
                        maxlength = "250"
                        placeholder = "Enter description here"
                        spellcheck = "true"><%if(task.description) %><%=task.description%></textarea>
                    </section>
                    <section>
                        <label for="date">Date</label>
                        <input id="date"
                        name="date"
                        type="date"
                        value="<%=date.toFormat("yyyy-MM-dd")%>"
                        required>
                    </section>
                    <section>
                        <label for="startTime">Start Time</label>
                        <input id="startTime"
                        name="startTime"
                        type="time"
                        <%if(startTime){%>value="<%=startTime.toFormat("HH:mm")%>"<%}%>>
                    </section>
                    <section>
                        <label for="endTime">End Time</label>
                        <input id="endTime"
                        name="endTime"
                        type="time"
                        <%if(endTime){%>value="<%=endTime.toFormat("HH:mm")%>"<%}%>>
                    </section>
                    <section>
                        <button type="submit">Update Task</button>
                    </section>
                </form>
            </section>
        </li>

        <!-- Delete -->
        <li>
            <button type="button" class="open-button">Delete Task</button>
            <section class="overlay hidden">
                <form action="/api/task/delete/<%=task._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete this task</button>
                </form>
            </section>
        </li>

    </ul>

</section>