<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="app-body">

    <%- include("./partials/navbar.ejs") %>

    <section class="app-section">

        <header class="app-header">
            <h1>Tasks</h1>
        </header>

        <main class="app-content">
            <ul class="app-options">
                <li>
                    <button type="button" class="open-button">Create New Task</button>
                    <section class="overlay hidden">
                        <%- include("./partials/create-task-form.ejs", {id:"", className:"", action:"/api/task/create"}) %>
                    </section>
                </li>
                <li>
                    <button type="button" id="view-complete">View Complete Tasks</button>
                </li>
            </ul>

            <%- include("./partials/alerts.ejs") %>

            <section class="app-display">
                <% if(tasks.length) { %>
                    <section class="card-display">
                    <% for(let i = 0; i < tasks.length; ++i) { %>
                        <%- include("./partials/task-card.ejs", {task: tasks[i]}) %>
                    <% } %>
                    </section>
                <% }else{ %>
                    <h5>No tasks to display</h5>
                <% } %>
            </section>

            <section>
                <% if(complete.length) { %>
                    <section class="card-display">
                    <% for(let i = 0; i < complete.length; ++i) { %>
                        <%- include("./partials/task-card.ejs", {task: complete[i]}) %>
                    <% } %>
                    </section>
                <% }else{ %>
                    <h5>No tasks to display</h5>
                <% } %>
            </section>

        </main>

    </section>

<script src="/js/main.js"></script>
</body>
</html>